

<div class="container mt-3">
    <h3>Supplier Data</h3>
    <pre> 
        {{1 | url}}
    </pre>
    <div class="table-responsive">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Supplier Name</th>
                    <th scope="col">Supplier Code</th>
                    <th scope="col">Picture</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let s of suppliers; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{s.supplierName}}</td>
                    <td>{{s.supplierCode}}</td>
                    <td><img src="http://localhost:8080/files/{{s.fileId}}" alt="supplier-picture" class="img-thumbnail"></td>
                    <td>
                        <a class="btn btn-danger me-1" data-bs-target="#delete" data-bs-toggle="modal" (click)="onClick(s.id)">Delete</a>
                        <a class="btn btn-secondary" data-bs-target="#update" data-bs-toggle="modal" (click)="onClick(s.id)">Update</a>
                    </td>

                </tr>
                
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary" data-bs-target="#create" data-bs-toggle="modal">Create</a>
</div>
<div class="modal fade" id="delete" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are You Sure Want to Delete This Data?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-bs-target="#yes" data-bs-toggle="modal" (click)="onDelete()">Yes</button>
                <a data-bs-dismiss="modal" class="btn btn-primary">No</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="yes" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Data Deleted
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="create" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Create Supplier</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
             
                <form [formGroup]="supplierReqDto" (ngSubmit)="onSubmit()">
                    <div class="row align-items-center gy-md-3 mb-3">
                        <div class="col-md-4">
                            <label for="supplier-name">Supplier Name<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="supplier-name" formControlName="supplierName" required>
                        </div>

                        <div class="col-md-4">
                            <label for="provider-picture">Supplier Picture<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="file" class="form-control" id="supplier-picture" (change)="fileUpload($event)" required>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal">Submit</button>
                        <a class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="update" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Update Supplier</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
         
            <div class="modal-body" [formGroup]="supplierUpdateReqDto" (ngSubmit)="onUpdate()">
                
                <form >
                    <div class="row align-items-center gy-md-3 mb-3">
                        <div class="col-md-4">
                            <label for="supplier-name">Supplier Name<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="supplier-name" value={{supplier?.supplierName}} formControlName="supplierName" required>
                        </div>

                        <div class="col-md-4">
                            <label for="supplier-picture">Picture<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="file" class="form-control" id="supplier-picture" (change)="fileUpload($event)" required>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal">Update</button>
                        <a class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>