<div class="container">
    <form class="mt-3" [formGroup]="passwordReqDto" (ngSubmit)="onSubmit()">
        <pre>
            {{passwordReqDto.value | json}}
            {{confirmNewPassword}}
        </pre>
        <h3>Change Password</h3>
        <div class="row gy-md-3 mt-1">
            <div class="col-md-2">
                <label for="old-password">Old Password<span class="text-danger">*</span></label>
            </div>
            <div class="col-md-10">
                <input type="password" class="form-control" id="old-password" formControlName="oldPassword" required>
            </div>
            <div class="col-md-2">
                <label for="new-password">New Password<span class="text-danger">*</span></label>
            </div>
            <div class="col-md-10">
                <input type="password" class="form-control" formControlName="newPassword" id="new-password" required>
            </div>
            <div class="col-md-2">
                <label for="confirm-new-password">Confirm New Password<span class="text-danger">*</span></label>
            </div>
            <div class="col-md-10">
                <input type="password" class="form-control" id="confirm-new-password" formControlName="confirmNewPassword"  required>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <button type="submit" class="btn btn-primary me-1">Submit</button>
            <a routerLink="../" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>